:root{
    --cell-size: 50px;
}

.gridContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.gridContainer .cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}

.even{
    background-color: rgb(106, 106, 207);
}